.container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1.5rem;
}

.name {
  text-transform: capitalize;
  font-weight: 600;
}
